.header {

        margin-bottom: 4rem;

     &__section {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         padding: 2rem;
    
     }

     &__logo {
         font-size: 4rem;
         font-family: var(--secondary-font);
         color: var(--secondary-color);
    }

    &__nav {

        ul li {
            display: inline-block;
            padding: 1rem;
        }

         li a {
            padding: 1rem;    
            color: var(--color-white);
                 font-size: 1.5rem;
                 text-decoration: none;
                 font-family: sans-serif;
                 transition: all .2s ease-in-out;

                 &:hover {
                    border-bottom: 1px solid var(--secondary-color);
                    padding-bottom: 5px;
                 }
            }

         li a.active {
           border-bottom: 1px solid var(--secondary-color);
           padding-bottom: 8px;
           font-weight: bold;
         }

         i.arrow {
            margin-left: 1rem;
            border: solid white;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 1px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }


}