.hero {

    color: var(--color-white);
    margin-bottom: 10rem;
    // height: 100vh;
    

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__info {
       align-self: flex-start;
        position: relative;
        top: 150px;

        @media screen and (max-width: $bp-desktop) {
            left: 150px;
         }
         @media screen and (max-width: $bp-tablet) {
            left: 50px;
            top: 50px;
         }
        h2 {
            font-size: 5.2rem;
            margin-bottom: 8rem;
            @media screen and (max-width: $bp-tablet) {
                font-size: 4rem;
             }
        
        }
        span {
            display: block;
            line-height: 1.2;
        }

        

    }

    &__image {
       align-self: flex-start;
       width: 70%;

       @media screen and (max-width: $bp-desktop) {
        width: 60%;
     }
        img {
            width: 100%;
        }
    }
}